<div class="mf-container">
    <h3>Mutual Fund Investment</h3>
  
    <div class="form-group">
      <label>Monthly SIP</label>
      <input type="number" [(ngModel)]="monthlySIP" />
    </div>
  
    <div class="form-group">
      <label>Duration (Years)</label>
      <input type="number" [(ngModel)]="duration" />
    </div>
  
    <div class="form-group">
      <label>ROI (%)</label>
      <input type="number" [(ngModel)]="roi" min="-25" max="25" />
      <span>-25% to 25%</span>
    </div>

    

    <div class="total">
        <p><strong>Total:</strong> {{ calculateTotal() | currency:'INR':'symbol' }}</p>
    </div>
  </div>
  